.appContainer {
  display: flex;
}

.appMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  // margin-top: 50px; -- navbar height
  min-height: calc(100vh); // - navbar height
}

.appContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
}