.appContainer {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.appContentContainer {
  padding: 12px 24px 24px 24px;
}

.appContent {
  overflow: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--rp-surface-a20);
}
