.container {
  height: var(--ant-layout-header-height, 64px);
  padding: var(--ant-layout-header-padding, 10px);
  display: flex;
  align-items: center;
}

.logoContainer {
  height: 50px;
  overflow: hidden;
  width: 42px;
  transition:
    width 0.4s ease-in-out,
    margin-left 0.4s ease-out;

  .logo {
    height: 50px;
    width: 110px;
    fill: var(--rp-app-logo-color);
  }
}
